<template>
    <div class="map" ref="map"></div>
</template>

<script>
import L from 'leaflet';

export default {
    data() {
        return {
            mapData: [
                {
                    "type": "marker",
                    "latitude": "51.5",
                    "longitude": "-0.09",
                    "text": "Abc",
                    "icon": "https://images.unsplash.com/photo-1708340665897-9167f17133ba?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                },
                {
                    "type": "marker",
                    "latitude": "51.45",
                    "longitude": "-0.09",
                    "text": "Abc",
                },
                {
                    "type": "line",
                    "points": [
                        {
                            "latitude": "51.5",
                            "longitude": "-0.09"
                        },
                        {
                            "latitude": "51.45",
                            "longitude": "-0.09"
                        },
                        {
                            "latitude": "51.35",
                            "longitude": "-0.15"
                        }
                    ]
                },
                {
                    "type": "scatter",
                    "points": [
                        {
                            "latitude": "51.5",
                            "longitude": "-0.15"
                        },
                        {
                            "latitude": "51.45",
                            "longitude": "-0.18"
                        },
                        {
                            "latitude": "51.35",
                            "longitude": "-0.15"
                        }
                    ]
                },
                {
                    "type": "scatter",
                    "color": "red",
                    "points": [
                        {
                            "latitude": "51.5",
                            "longitude": "-0.2"
                        },
                        {
                            "latitude": "51.65",
                            "longitude": "-0.1"
                        }
                    ]
                }
            ]
        }
    },
    mounted() {
        var map = L.map(this.$refs.map).setView([51.505, -0.09], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        L.icon({
            iconUrl: 'https://images.unsplash.com/photo-1708340665897-9167f17133ba?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
            iconSize: [38, 95],
            iconAnchor: [22, 94],
            popupAnchor: [-3, -76],
            shadowSize: [68, 95],
            shadowAnchor: [22, 94]
        });

        this.mapData.forEach(data => {
            switch (data.type) {
                case 'marker': {
                    let options = {};

                    if (data.icon != null && data.icon != '') {
                        const icon = L.icon({
                            iconUrl: data.icon,
                            iconSize: [38, 95],
                            iconAnchor: [22, 94],
                            popupAnchor: [-3, -76],
                            shadowSize: [68, 95],
                            shadowAnchor: [22, 94]
                        });
                        options.icon = icon;
                    }

                    const marker = L.marker([parseFloat(data.latitude), parseFloat(data.longitude)], options);

                    if (data.text != null && data.text != "") {
                        marker.bindTooltip(data.text, {
                            permanent: true,
                            className: 'map-tooltip',
                            direction: "bottom"
                        })
                    }

                    marker.addTo(map);
                    break;
                }
                case 'line': {
                    let latLngs = [];

                    const points = data.points;
                    points.forEach(point => {
                        latLngs.push([point.latitude, point.longitude]);
                    });

                    L.polyline(latLngs).addTo(map);
                    break;
                }
                case 'scatter': {
                    let color = '';

                    if (data.color != null && data.color != '') {
                        color = data.color;
                    } else {
                        color = '#' + Math.floor(Math.random()*16777215).toString(16);
                    }

                    const points = data.points;
                    points.forEach(point => {
                        L.circle(
                            [point.latitude, point.longitude],
                            500,
                            {
                                color,
                                fillColor: color,
                                fillOpacity: 1
                            }
                        ).addTo(map);
                    });
                    break;
                }
            }
        });

        // L.marker([51.5, -0.09], {
        //     // icon: icon,
        //     title: "Abc"
        // }).addTo(map)
        //     .bindTooltip("Awikwok", {
        //         permanent: true,
        //         offset: L.point(5, 4)
        //     }).openTooltip()

        // L.marker([51.52, -0.09], {
        //     // icon: icon,
        //     title: "Abc"
        // }).addTo(map)
        //     .bindTooltip("Awikwok", {
        //         permanent: true,
        //         offset: L.point(5, 4)
        //     }).openTooltip();
    }
}
</script>

<style>
.map {
    height: 500px;
}
.map-tooltip {
    border-radius: 16px;
    box-shadow: none;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.map-tooltip::before {
    display: none;
}
</style>